body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: grid;
  margin-left: 20px;
  width: 70%;
  max-width: 1000px;
}
.row {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-top: 15px;
  column-gap: 14px;
  word-break: break-all;
}
.row div {
  display: grid;
  row-gap: 10px;
}
.row h1 {
  font-size: 20px;
  text-decoration: none;
  color: blue;
  font-weight: 100;
}
.row p {
  font-size: 14px;
  color: #4d5156;
}
.row p,
h1 {
  margin: 0;
}
.row a {
  text-decoration: none;
  color: blue;
  font-weight: 100;
  /* font-size: 14px; */
}
img {
  border-radius: 10px;
  /* height: 40px; */
}
